#chat-page {
  display: flex;
  background: $light-color;
  #chat-nav {
    flex: 1;
    background: #fff;
    width: 70px;
    height: 100vh;
    .chat-nav-logo {
      background: $secondary-color;
      padding: 1.1rem 0;
      text-align: center;
      margin-bottom: 2rem;
      a {
        color: #fff;
      }
    }
    .chat-nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      height: 85vh;
      font-size: 1.5rem;
      //background: $main-color;
      li {
        //border-bottom: 1px $secondary-color dotted;
        text-align: center;
        padding: 1rem;
        color: set-text-color($sec-fade-color);
        //margin-bottom: 0.5rem;

        i {
          color: #f53ba3;
        }
      }
    }
  }

  #chat-section {
    flex: 18;
    background: $light-color;
    height: 100vh;

    .chat-container {
      display: flex;
      padding: 2rem;

      &-online-users {
        background: #fff;
        flex: 1;
        height: 90vh;
        max-width: 360px;
        border-radius: 5px;
        //text-align: center;
        padding: 1.3rem;
        overflow: hidden;

        .search-user {
          width: 100%;
          height: 40px;
          border-radius: 5px;
          margin-bottom: 1.3rem;
          //   &:focus {
          //     border: 1px $light-color solid;
          //   }
        }
        .online-users-list {
          //margin: 2rem 0;
          height: 76vh;
          overflow: scroll;
          .single-user-details {
            display: flex;
            align-items: center;
            padding: 0.8rem 0;
            border-bottom: 2px $light-color dotted;
            &:last-child {
              border-bottom: 0;
            }

            .user-propix {
              flex: 1;
              width: 45px;
              height: 45px;
              margin-right: 1rem;

              img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .user-details-text {
              //background: $light-color;
              flex: 5;
            }
          }
        }
      }
      &-area {
        background: $light-color;
        flex: 2;
        height: 90vh;
        padding: 0 2rem;
        overflow: hidden;

        .chat-area-head {
          display: flex;
          align-items: center;
          padding-bottom: 1.2rem;
          border-bottom: 2px #e1e1e1 solid;
          .book-cover {
            flex: 1;
            width: 60px;
            height: 60px;
            margin-right: 1rem;

            img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .book-details-text {
            flex: 9;
            text-transform: capitalize;
            font-weight: 900;
          }
        }
        .chat-area-body {
          margin: 2rem 0;
          height: 66vh;
          overflow: scroll;
          border-bottom: 2px #e1e1e1 solid;
          &-receiver {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "receiver . .";
            grid-gap: 2rem;
            margin: 1rem;
            .msg-receiver {
              grid-area: receiver;
              &-name {
                font-size: 0.8rem;
              }
              &-text {
                background: #fff;
                padding: 0.6rem 1rem;
                border-radius: 0 15px 15px 15px;
              }
            }
          }
          &-sender {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: ". . sender";
            grid-gap: 2rem;
            margin: 1rem;
            .msg-sender {
              grid-area: sender;
              &-text {
                background: #cdcdcd;
                padding: 0.6rem 1rem;
                border-radius: 15px 15px 0 15px;
              }
            }
          }
        }
        .chat-area-input {
          form {
            background: $dark-color;
            width: 100%;
            border-radius: 5px;
            input {
              width: 90%;
              height: 50px;
              outline: none;
              border: none;
              border-radius: 5px 0 0 5px;
              &:focus {
                outline: none;
              }
            }
            .send-btn {
              width: 40px;
              height: 40px;
              background: $dark-color;
              color: $light-color;
              border-radius: 50%;
              border: none;
              box-shadow: none;

              &:focus {
                box-shadow: none;
                border: none;
                outline: none;
              }

              .fa {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
      &-bookdetails {
        background: #fff;
        flex: 1;
        height: 92vh;
        border-radius: 5px;
      }
    }
  }
}
