@import "config";
@import "utilities";
// General Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.6;
  background: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  line-height: 1.3;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.17rem;
}

img {
  width: 100%;
}
p {
  margin: 0.3rem 0;
}

.menu-wrap {
  display: none;
}

div[class^="btn-"],
.btn-group {
  outline: 0;
  box-shadow: 0;
  &:focus,
  &:hover {
    outline: 0;
    box-shadow: 0;
  }
}

//Main Nav
#main-nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0 2rem;
  background: $secondary-color;
  z-index: 1;
  color: #fff;

  .main-nav-menu {
    display: flex;
    li {
      padding: 1rem 1.5rem;
    }

    a {
      text-decoration: none !important;
      color: #fff;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        border-color: $medium-color;
      }
      &.current {
        border-color: $main-color;
      }
    }
  }
}
//End Main Nav

// Below Nav
#below-nav {
  background: $undernav-color;
  padding: 1.3rem;
  //text-align: center;

  .below-nav-list {
    li {
      display: inline-block;
    }
  }
}
// End Below Nav

// Header
#header {
  //Header Home
  &-home {
    background: $bg-image no-repeat center center/cover;
    height: 100vh;
    margin-top: -73px;
    color: #fff;
    position: relative;

    //Header Content
    .header-content {
      //   text-align: center;
      //   padding-top: 20%;
      //   margin-top: 73px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 2rem;

      /* Overlay */
      @extend %overlay;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  //Header Inner
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $main-color;
  }
}

//Home Sections
#home {
  //Home Section A
  &-a {
    .what {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        img {
          width: 60%;
          padding: 1rem;
        }
      }
    }
  }

  //Home Section B
  &-b {
    background-color: rgba(36, 44, 66, 0.1);
    .how {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-content {
        display: grid;
        grid-template-areas:
          "icon head head"
          "pr pr pr";
        grid-gap: 0.5rem;
        align-items: center;
        justify-content: center;
        text-align: left;
        // border: 3px solid $main-color;
        background-color: #fdfdfd;
        padding: 1rem;
        border-radius: 5px;

        //Grid Areas
        & > div {
          grid-area: icon;
          text-align: center;
        }
        h3 {
          grid-area: head;
        }
        p {
          grid-area: pr;
          text-align: center;
        }
      }

      //how-step
      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: $main-color;
        color: #fff;
        border-radius: 50%;
        // height: 10px;
        // width: 10px;
        line-height: 10px;
        padding: 0.5rem;
        transition: all 1s;

        text-align: center;
      }

      //how-icon
      &-icon {
        border-radius: 50%;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        padding: 1rem;
        position: relative;
        transition: all 1s;
        align-self: center;
        margin: 0;

        &:hover {
          background: $main-color;
          color: #fff;

          .how-step {
            background: $secondary-color;
          }
        }
      }
    }
  }

  //Home Section C
  &-c {
    .top-rated {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      &-content {
        border: $light-color 1px solid;
        border-radius: 5px;
        position: relative;
        padding-bottom: 3rem;
        .top-rated-img {
          height: 16rem;
          margin-bottom: 1rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .top-rated-desc {
          margin-bottom: 1rem;
        }
        .link-btn {
          a {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 0.6rem 2rem;
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }

    .view-all {
      margin-top: 2rem;
      width: 25%;
      border-radius: 0;
      padding: 0.8rem 1rem;
    }
  }

  //Home Section D
  &-d {
    position: relative;
    height: 12rem;
    background: url("../img/books-container.jpg") no-repeat center center/cover;
    color: #fff;
    .addjoin-content {
      display: flex;
      //justify-content: center;
      justify-content: space-around;
      align-items: center;
      text-align: left;
      height: 100%;
      @extend %overlay;
      background-color: rgba(0, 0, 0, 0.7);
      h2 {
        font-size: 2rem;
      }

      .btn-lighten {
        border-radius: 0;
        font-size: 1.2rem;
        font-weight: 900;
      }
    }
  }
}

//Contact Sections
#contact {
  //contact Section A
  &-a {
    .field {
      //   display: grid;
      //   grid-template-areas: "form info";
      //   grid-gap: 1rem;
      //   margin: auto 3rem;

      &-form {
        // grid-area: form;

        // background-color: rgba(36, 44, 66, 0.1);
        .form-group {
          margin-bottom: 20px;
          input,
          textarea {
            width: 80%;
            padding: 12px;
            border: 1px #ddd solid;
          }
          input:focus,
          textarea:focus {
            outline: none;
            border-color: $main-color;
          }
          textarea {
            height: 200px;
          }
        }
        .btn-dark {
          width: 80%;
        }
      }
    }
  }
}

//Book Sections
#book {
  &-cat {
    .pandsort {
      //background-color: $undernav-color;
      background-color: rgba(36, 44, 66, 0.1);
      form {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        input,
        select {
          padding: 0.5rem;
          border: 2px $light-color solid;
          border-radius: 5px;
          margin: 2rem;
        }
        input {
          width: 250px;
        }
        select {
          width: 100px;
        }
        .sort-submit {
          button {
            padding: 0.4rem;
          }
        }
      }
    }
  }
  //Book Section A
  &-a {
    .all-books {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      &-content {
        border: $light-color 1px solid;
        border-radius: 5px;
        position: relative;
        padding-bottom: 3rem;
        .all-books-img {
          height: 16rem;
          margin-bottom: 1rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .all-books-desc {
          margin-bottom: 1rem;
        }
        .link-btn {
          a {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            padding: 0.6rem 2rem;
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }
  }
}

//Book Details Sections
#bdetails {
  //Book Section A
  &-a {
    .bdetails-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "main main popular"
        "main main top-cat";

      grid-gap: 3rem;

      .bdetails-main {
        grid-area: main;
        //background: $light-color;
        min-height: 660px;
        width: auto;
        &-top {
          display: flex;
          .bdetails-img {
            //border: $main-color 1px solid;
            //align-items: flex-start;
            //flex: 1;
            height: 300px;
            width: 280px;
            margin-right: 2rem;
            margin-bottom: 2rem;

            img {
              //   width: 100%;
              //   height: 100%;
              object-fit: contain;
            }
          }
          .bdetails-beside-img {
            //border: $main-color 1px solid;
            height: 300px;
            width: 650px;
            h2 {
              font-size: 2rem;
              display: block;
              padding-bottom: 0.5rem;
              font-weight: 700;
              text-transform: capitalize;
              line-height: 41px;
            }
            .author {
              font-size: 1.5rem;
              color: $text-color;
              margin: 0;
              line-height: 28px;
            }
            .details-cat-div {
              margin-bottom: 1.5rem;
            }
            .details-cat {
              //font-size: 1.1rem;
              color: $text-color;
              margin-right: 1rem;
              font-size: 18px;
              line-height: 21px;
            }
            .details-meetings {
              &-head {
                font-size: 18px;
                line-height: 21px;
                color: #222222;
                font-weight: 700;
              }
              .meet-icon {
                margin-right: 2rem;
                font-size: 0.9rem;
                color: #444444;
                line-height: 16px;
                i {
                  color: #f53ba3;
                  font-size: 1.3rem;
                  padding-right: 0.3rem;
                  //border: 2px solid #f53ba3;
                }
              }
            }
            .join-chat {
              background: $undernav-color;
              width: 300px;
              height: 95px;
              margin: 2rem 0;
              border-radius: 5px;
              border: 1px solid #ffe2f2;
              padding: 0.9rem;
              &-head {
                font-size: 18px;
                line-height: 21px;
                font-weight: 700;
                margin: 0;
              }
              &-icon {
                display: inline-block;
                background: #ffffff;
                border: 1px solid #f53ba2;
                border-radius: 3px;
                padding: 0.2rem 0.5rem;
                margin-top: 0.5rem;
                margin-right: 0.5rem;
                i {
                  color: #f53ba2;
                  margin-right: 0.3rem;
                }
              }
            }
          }
        }

        .book-vendor {
          text-align: center;
          border: 1px solid #666666;
          border-radius: 3px;
          width: 200px;
          //height: 28px;
          padding: 0.3rem;
        }

        .bdetails-rest {
          text-align: left;
          h3 {
            font-size: 1.5rem;
          }
        }
      }
      .bdetails-popular {
        grid-area: popular;
        .toprated-sidebar {
          &-single {
            display: flex;
            //justify-content: center;
            border-bottom: $medium-color 0.5px dotted;
            padding: 0.5rem 0;
            &:last-child {
              border-bottom: 0;
            }
            .pop-img {
              img {
                width: 80px;
                height: 122px;
                object-fit: contain;
                margin-right: 1rem;
              }
            }
            .pop-content {
              text-align: left;
              p:first-child {
                text-transform: capitalize;
              }
            }
          }
        }
      }
      .top-cat {
        grid-area: top-cat;
        &-list {
          li {
            border-bottom: $medium-color 0.5px dotted;
            padding: 0.9rem 0;
            font-size: 1.1rem;
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}

//Import media query
@import "dashboard";

//Footer
#main-footer {
  background: $secondary-color;
  color: set-text-color($secondary-color);

  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    h2 {
      font-weight: 200;
      text-transform: none;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    h3 {
      text-transform: none;
      font-weight: 200;
      font-size: 1.5rem;
    }
    a {
      line-height: 1.9;
      color: #ccc;
      i {
        color: #555;
        margin-right: 0.5rem;
        &:hover {
          color: $main-color;
        }
      }
    }

    li {
      a {
        &:hover {
          color: $main-color;
        }
      }
      i {
        color: $main-color;
        margin-right: 0.5rem;
      }
    }

    /* Email Form */
    .email-form {
      width: 100%;
      display: inline-block;
      background-color: #555;
      position: relative;
      border-radius: 20px;
      line-height: 0;
      margin-top: 1rem;
      .form-sub {
        display: inline-block;
        border: 0;
        outline: 0;
        font-size: 1rem;
        color: #ddd;
        background-color: transparent;
        font-family: inherit;
        margin: 0;
        padding: 0 3rem 0 1.5rem;
        width: 100%;
        height: 45px;
        border-radius: 20px;
        box-sizing: border-box;
      }
      .submit {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: $main-color;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        color: #f4f4f4;
        cursor: pointer;
        border-radius: 0 20px 20px 0;
      }
    }
  }
}

//Import media query
@import "media";
